<h1>Welcome to JS Racer</h1>

<form action="/games/new" method="post">
  Player 1: <input type="text" name="player1"><br>
  Player 2: <input type="text" name="player2"><br><br>
  <input type="submit" value="Start Game!">
</form>